<nav>
  <p> <%= link_to "Accueil", index_path %></p>
  <p><%= link_to "L'équipe", team_path %></p>
  <p><%= link_to "Nous contacter", contact_path %></p>
</nav>

<h1>L'équipe</h1>

<div class="rounded-card">
  <p>Notre équipe de professionnels élevés au grain :</p>
  <ul>
    <li>Pierre</li>
    <li>Lucas</li>
    <li>Cédric</li>
    <li>Laurent</li>
    <li>Mathias</li>
  </ul>
</div>
