<nav>
  <p> <%= link_to "Accueil", index_path %></p>
  <p><%= link_to "L'équipe", team_path %></p>
  <p><%= link_to "Nous contacter", contact_path %></p>
</nav>

<h1>Contacter l'équipe</h1>

<p>Retrouvez-nous au 118 218</p>
