/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*, :before, :after, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #444;
  position: relative;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
}

a:before {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #444;
  position: absolute;
  bottom: 0;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transition: transform 0.3s, background-color 0.3s;
  -webkit-transition: transform 0.3s, background-color 0.3s;
  -moz-transition: transform 0.3s, background-color 0.3s;
  -ms-transition: transform 0.3s, background-color 0.3s;
  -o-transition: transform 0.3s, background-color 0.3s;
  transform-origin: 0;
}

a:hover {
  color: black;
}

a:hover:before {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  background-color: black;
}

nav {
  display: flex;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  width: 100%;
  padding: 16px 32px;
  margin: 0 0 24px 0;
  background-color: #fff;
  justify-content: center;
}

nav p {
  margin: 0 16px;
  font-weight: 800;
}

.navigation-div {
  display: flex;
}

.sign-up-div{
  margin-left:auto;
  display: flex;
  align-items: center;
}

.sign-up-btn {
  padding: 4px 16px;
  border: 2px solid #413c58;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  background-color: #413c58;
}

.sign-up-btn:hover {
  background-color: white;
}

.sign-up-btn a {
  color: white;
}

.sign-up-btn:hover a {
  color: #413c58;
}

.sign-up-btn:hover a:before {
  display: none;
}

h1 {
  color: #444;
}

ul {
  list-style-type: none;
  margin-top: 16px;
}

/* Contenu réutilisable */
.rounded-card {
  padding: 32px;
  border: 1px solid rgba(0,0,0,0.2);
  margin: 16px 0;
  text-align: center;
  width: 600px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  position: relative;
}

.rounded-card a {
  font-size: 1.1em;
  font-weight: bolder;
}

/* Index */
.cards-wrapper {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gossip-card {
  transition: box-shadow 0.3s;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -ms-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
}

.gossip-card:hover {
  box-shadow: 0 0px 8px rgba(0,0,0,0.2);
}



/* Page Potin */
.gossip-title {
  font-size: 1.1em;
  font-weight: bolder;
  margin-bottom: 16px;
}

.gossip-date, .gossip-user-city {
  font-size: 0.8em;
  margin-top: 16px;
}

/* Page User */
.user-profile-title, .city-name {
  font-weight: bolder;
}

.user-profile-content:not(:last-child) {
  margin-bottom: 16px;
}

#file-gros-curieux {
  font-size: 0.8em;
}

.new-gossip-wrapper p {
  margin: 24px 0 0;
}

.new-gossip-wrapper a{
  margin: 16px 0;
  padding: 8px 32px;
  border: 1px solid #444;
  border-radius: 64px;
  -webkit-border-radius: 64px;
  -moz-border-radius: 64px;
  -ms-border-radius: 64px;
  -o-border-radius: 64px;
  transition: background-color 0.3s, color 0.3s;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -moz-transition: background-color 0.3s, color 0.3s;
  -ms-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s;
}

.new-gossip-wrapper:hover a:before, .new-gossip-wrapper a:before, .delete-gossip:hover a:before {
  text-decoration: none;
  display: none;
}

.new-gossip-wrapper:hover a{
  color: #fff;
  background-color: #444;
  text-decoration: none;
}

a, a:hover {
  text-decoration: none;
}

.edit-gossip {
  margin-top: 16px;
}

.delete-gossip a {
  color: red;
}

.delete-gossip:hover a {
  color: darkred;
}

.gossip-comments-wrapper a {
  font-size: 1em;
  font-weight: normal;
  color: black;
}

.gossip-comment {
  position: relative;
  max-width: 400px;
  margin: auto;
}

.gossip-comment:not(:last-child) {
  margin-bottom: 16px;
}

.gossip-comment-date {
  font-size: 0.8em;
}

.gossip-comment-edit, .gossip-comment-delete {
  cursor: pointer;
  position: absolute;
  right: -12px;
  opacity: 0;
  transition: opacity 0.1s;
  -webkit-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -ms-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
}

.gossip-comment-delete {
  right: -32px;
  font-size: 1.1em;
}

.gossip-comment-delete a {
  color: red;
}

.gossip-comment-edit a:before, .gossip-comment-delete a:before {
  display: none;
}

.gossip-comment:hover .gossip-comment-edit, .gossip-comment:hover .gossip-comment-delete {
  opacity: 1;
}

/* Gossip - New (formulaire) */
.gossip-form {
  margin: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Gossip - Edit (formulaire) */
.form-group button, .gossip-form input[type=submit] {
  margin: 16px 0 0;
  padding: 8px 32px;
  border: 1px solid #444;
  border-radius: 64px;
  -webkit-border-radius: 64px;
  -moz-border-radius: 64px;
  -ms-border-radius: 64px;
  -o-border-radius: 64px;
  transition: background-color 0.3s, color 0.3s;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -moz-transition: background-color 0.3s, color 0.3s;
  -ms-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s;
}

.form-group button:hover, .gossip-form input[type=submit]:hover {
  color: white;
  background-color: #444;
}

.gossip-form input, .gossip-form textarea {
  display: block;
  width: 300px;
  outline: none;
  resize: none;
  margin-bottom: 24px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border: 1px solid rgba(0,0,0,0.2);
  padding:  6px;
}

/* Attention ghetto : Animation pour faire disparaître les messages flash vu que je n'y arrive pas en Ruby */
.teknik-de-chlag {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  animation: fadeOut 0.4s linear 2.5s forwards;
  -webkit-animation: fadeOut 0.4s linear 2.5s forwards;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: 50;
  pointer-events: none;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Page team */
.team-wrapper {
  margin: 32px 0 0;
  display: flex;
  justify-content: space-around;
}
.team-profile img{
 width: 50px;
 margin: 0 0 6px 0;
}

/* Likes */
.like-btn {
  color: #f03a47;
  font-size: 1.2em;
}

.like-btn:active {
 animation: grow 0.2s linear forwards;
 -webkit-animation: grow 0.4s linear forwards;
}

@keyframes grow {
  0% {
    transform: scale(1)  ;
    -webkit-transform: scale(1)  ;
    -moz-transform: scale(1)  ;
    -ms-transform: scale(1)  ;
    -o-transform: scale(1)  ;
  }
  50% {
    transform: scale(1.2)  ;
    -webkit-transform: scale(1.2)  ;
    -moz-transform: scale(1.2)  ;
    -ms-transform: scale(1.2)  ;
    -o-transform: scale(1.2)  ;
}
  100% {
    transform: scale(1)  ;
    -webkit-transform: scale(1)  ;
    -moz-transform: scale(1)  ;
    -ms-transform: scale(1)  ;
    -o-transform: scale(1)  ;
  }
}

.like-display a:before {
  display: none;
}

span.like-btn {
  font-weight: bolder;
}